.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  z-index: -100; 
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180%; 
  height: 180%;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate(-50%, -50%); 
  pointer-events: none;
}

#typing {
    border-right: 4px solid rgb(255, 255, 255);
    overflow: hidden;
    animation: blink 0.7s steps(1) infinite;
    white-space: pre-wrap !important;
}

@keyframes blink {
    0%, 50%, 100% { border-color: rgb(255, 255, 255); }
    25%, 75% { border-color: transparent; }
}
