body {
  padding-top: 80px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  z-index: -100; 
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180%; 
  height: 180%;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate(-50%, -50%); 
  pointer-events: none;
}