html, body {
  height: 100%;
  padding-top: 60px;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  z-index: -100; 
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180%; 
  height: 180%;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate(-50%, -50%); 
  pointer-events: none;
}

#typing {
  border-right: 4px solid #F5F7FA;
  overflow: hidden;
  animation: blink 0.7s steps(1) infinite;
  white-space: pre-wrap !important;
}

@keyframes blink {
  0%, 50%, 100% { border-color: #F5F7FA; }
  25%, 75% { border-color: transparent; }
}

.typing-container {
  white-space: nowrap;
  overflow: hidden;
  max-height: 1.5em;
  width: 32ch;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  gap: 150px;
}

.section {
  display: inline-block;
  background-color: #140634;
  border: 3px solid rgb(153, 7, 153);
  border-radius: 40px;
}

.home {
  width: 600px;
  white-space: nowrap;
  margin-top: 193px;
  margin-bottom: 194px;
}

.new {
  width: 500px;
  height: 400px;
}

.news-panel {
  position: relative;
  height: 300px; /* fixe la hauteur pour animation */
  min-height: 2em;
  color: white;
  font-size: 1rem;
}

.project-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
}

.project-item.show {
  opacity: 1;
  transform: translateY(0);
}

.project-item h3 {
  font-family: 'Arial Black', sans-serif;
  color: rgb(153, 7, 153);
}

.new img {
  width: 200px;
  height: 100%;
}

.fade {
  animation: fade 0.6s ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section_contact {
  display: flex;
  justify-content: center;
}

.contact {
  display: inline-block;
  text-align: center;
  align-items: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  background: transparent;
  border: 3px solid white;
  border-radius: 30px;
  padding: 20px;
  backdrop-filter: blur(20px);
}

.contact h1 {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 30px;
}

.contact figure {
  background-color: #140634;
  border: 2px solid rgb(153, 7, 153);
  border-radius: 50px;
}

.contact figure:hover {
  transform: translateY(-6px) ;
  box-shadow: 0 5px 10px white;
}