.navbar {
  padding: 20px;
  background-color: rgb(39, 3, 39);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-item:hover {
  background-color: transparent;
}

.lien-nav {
  position: relative;
  color: white;
}

.lien-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: white;
  transition: width 0.4s ease;
}

.lien-nav:hover::after {
  width: 100%;
}
