.container {
    text-align: center;
    color:white
}

h1{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background-color: #140634;
    border:2px solid rgb(153, 7, 153);
    border-radius: 40px;
    padding: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color:white
}
 
button {
    margin-top: 10px;
    margin-bottom: 10px;
    color:white
}

figure {
    margin-left: 5px;
}

.box {
    width: 350px;
    height: 100%;
    background-color: #140634;
    border:2px solid rgb(153, 7, 153);
    color:white
}

.button {
    background-color: #140634;
    border-color: rgb(153, 7, 153);
}

.button:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(205, 80, 216, 0.4);
}

.rangement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 30px;
}