<div class="hero-wrapper">
   
<section class="section home mr-6">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
            <h1 class="title is-1 has-text-white">Bonjour ! 👋🏼</h1>
            <h2 class="subtitle is-3 has-text-white">
                Je m'appelle <strong>Anthonin Chesneau</strong>
            </h2>
            <p class="has-text-white is-size-5 mt-4 typing-container">
                <span id="typing"></span>
            </p>
            </div>
        </div>
    </div>
</section>

<section class="section new">
    <div class="news-panel" id="news-panel">
        <div class="project-item current"></div>
        <div class="project-item next"></div>
    </div>
</section>

</div>

<section class="section_contact">
    <div class="contact">
        <h1 class="is-size-3">
        Retrouvez-moi sur
        </h1>
        <p>N'hésitez pas à me contacter</p>
        <div class="is-flex is-justify-content-center">
            <a href="https://www.linkedin.com/in/anthonin-chesneau" class="mr-5">
            <figure class="image is-32x32">
                <img src="assets/illustration/icone-linkedin.png">
            </figure>
            </a>

            <a href="mailto:anthonin.chesneau0804@gmail.com" class="mr-5">
            <figure class="image is-32x32">
                <img src="assets/illustration/icone-email.png">
            </figure>
            </a>

            <a href="https://discord.com/users/1413518654649270334" target="_blank"" class="mr-5">
            <figure class="image is-32x32">
                <img src="assets/illustration/icone-discord.png">
            </figure>
            </a>

            <a href="https://github.com/anthonin-tech" target="_blank">
            <figure class="image is-32x32">
                <img src="assets/illustration/icone-github.png">
            </figure>
            </a>
        </div>
    </div>
</section>
