
<section class="box_presentation box ">
    <div class="container">
        <div class="présentation">
            <h1><u>Qui je suis ?</u></h1>
            <p>Bonjour à tous ! Je m’appelle Anthonin Chesneau, j’ai 18 ans et je suis né en France.</p><br>
            <p>Je poursuis actuellement un Bachelor en Systèmes Informatiques et Numériques (SIN) ainsi qu’un BTS SIO (Services Informatiques aux Organisations), formations qui me permettent de développer de solides compétences en développement, en réseaux et en systèmes informatiques.</p><br>
            <p>Mon objectif académique est de continuer mes études vers un Master spécialisé en intelligence artificielle, afin de participer à la conception de solutions innovantes et à fort impact technologique.</p><br>
            <p>En dehors de mes études, j’aime explorer de nouvelles technologies, renforcer mes compétences techniques et m’investir dans des activités créatives qui nourrissent ma curiosité et mon envie d’apprendre.</p><br>
        </div>

        <div class="passion">
        <h1><u>Passe-temps</u></h1>
            <ul>
                <li>Jouer à des jeux 🎮</li>
                <li>Pratiquer des activités sportifs, actuellement du rugby en club 🏉</li>
                <li>Découvrir des choses 📝</li>
                <li>Vivre des expériences 🏃🏼‍♀️</li>
                <li>Créer 🏗️</li>
            </ul><br>
        </div>

        <em class="citation">« Le succès consiste à aller d’échec en échec sans perdre son enthousiasme. »
        — Winston Churchill</em>
    </div>
</section>

<section class="box_compétence box">
    <h1><strong>Compétences professionnelles</strong></h1>
    <div class="hard">
        <h2>Hard Skills</h2>
        <div class="alignement">
            <div>
                <img src="assets/illustration/python.png" alt="" class="image is-96x96">
                <p><strong>PYTHON</strong></p>
            </div>
            <div>
                <img src="assets/illustration/php.png" alt="" class="image is-96x96">
                <p><strong>PHP</strong></p>
            </div>
            <div>
                <img src="assets/illustration/sql.png" alt="" class="image is-96x96">
                <p><strong>MySQL</strong></p>
            </div>
            <div>
                <img src="assets/illustration/css.png" alt="" class="image is-96x96">
                <p><strong>CSS</strong></p>
            </div>
            <div>
                <img src="assets/illustration/html.png" alt="" class="image is-96x96">
                <p><strong>HTML</strong></p>
            </div>
        </div>
    </div>
    <div class="soft">
    <h2>Soft Skills</h2>
        <div class="soft-compétence has-text-centered">
            <p>Autonomie - Travail en équipe - Résolution de problèmes</p>
        </div>
    </div>
</section>

<section class="box_outils box">
    <h1><strong>Outils que j'utilise</strong></h1>
    <h2>Environnements de développement</h2>
    <div class="alignement">
        <div>
            <img src="assets/illustration/vscode.png" alt="" class="image is-96x96">
            <p>VScode</p>
        </div>
    </div>
    <h2>Gestion de versions</h2>
    <div class="alignement">
        <div>
            <img src="assets/illustration/github.png" alt="" class="image is-96x96">
            <p>GitHub</p>
        </div>
        <div>
            <img src="assets/illustration/git.png" alt="" class="image is-96x96">
            <p>Git</p>
        </div>
        <div>
            <img src="assets/illustration/desktop.png" alt="" class="image is-96x96">
            <p>Github Desktop</p>
        </div>
    </div>
    <h2>Outils de gestion de projet</h2>
    <div class="alignement">
        <div>
            <img src="assets/illustration/trello.png" alt="" class="image is-96x96">
            <p>Trello</p>
        </div>
        <div>
            <img src="assets/illustration/discorde.png" alt="" class="image is-96x96">
            <p>Discord</p>
        </div>
    </div>
</section>
